.footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    height: 400px;
    margin-top: 450px;
    background-color:#112130;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.footer-image-address{
    display: grid;
    grid-template-rows: 50% 50%;
}
.footer-image a img{
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 20px;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    box-shadow: 0 5px 10px 1px rgba(255, 238, 0, 0.4);
}
.footer-image a img:hover{
    margin-top: 13%;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    box-shadow: 0 5px 10px 1px rgba(255, 238, 0, 1);
}
.footer-address p{
    position: static;
    margin-left: 20%;
    text-align: left;
    margin-top: 15%;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #AAB1B7;
    font-family: "Rubik", sans-serif;
    font-style: normal;
}
.company-names{
    text-align: center;
    margin-top: 15%;
}
.company-names h3{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
}
.names li a{
    color: #ACACAC;
    font-size: 22px;
    line-height: 36px;
    margin-left: 70%;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
.names li{
    display: block;
}
.names li a:hover{
    color: red;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}
.footer-destination-names h3{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
}
.footer-destination-names{
    text-align: center;
    margin-top: 15%;
}
.footer-destinations li a{
    color: #ACACAC;
    font-size: 20px;
    line-height: 36px;
    margin-left: -25%;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
.footer-destinations li a:hover{
    color: red;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}
.footer-instagram{
    display: grid;
    grid-template-rows: 20% auto;
}
.footer-title-instagram{
    margin-top: 15%;
}
.footer-title-instagram h3{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
}
.footer-place-images{
    margin-top: 15%;
}
.footer-insta-image a img{
    border-radius: 100%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px 1px rgba(255, 238, 0, 0.2);
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
.footer-insta-image a img:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transform: rotate(360deg);
    box-shadow: 0 5px 10px 1px rgba(255, 238, 0, 0.6);
}