body{
    overflow-x: hidden;
}
.header-area {
    display: grid;
    grid-template-columns: 20% 50% 10% 20%;
}

li a:hover {
    transition-timing-function: ease;
    transition-duration: 0.2s;
    color: #1EC6B6;
}

#logo-id {
    height: 100%;
    width: 100%;
}

ul li {
    list-style-type: none;
    float: left;
    padding: 14px 32px;
}

ul li a {
    text-decoration: none;
    color: black;
}

.main-menu {
    margin-top: 70px;
}

.angle-down {
    transform: rotate(45deg);
}

.angle-down:hover {
    color: #1EC6B6;
}

i {
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    z-index: 1;
    margin-top: 40px;
    border-radius: 5px;
}

.dropdown-content ul {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a li:hover {
    color: #1EC6B6;
}
.dropdown-content a li {
    color: black;
}

.phone-number {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 80px;
}

.social-media {
    float: left;
    margin-top: 80px;
    margin-left: 60px;
}

#abc {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: hidden;
}

#message {
    background-repeat: no-repeat;
    background-position: 5px 7px;
    width: 60%;
    height: 10%;
    resize: none;
    margin-top: 20%;
    margin-left: 20%;
    font-size: 50px;
    text-align: left;
    font-family: forte;
    overflow: hidden;
}

#search_box {
    margin-top: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }